* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 350ms ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
	height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #181818; 
}

::-webkit-scrollbar-thumb {
	background: #aaaaaa;
	border-radius: 30px;  
}

::-webkit-scrollbar-thumb:hover {
	background: #4e4e4e;
}

body {
    background-color: #202020;
	overflow-x: auto;
}

.main {
	min-height: calc(100% - 60px);
    display: flex;
}

.menu-container {
    padding: 10px 10px 10px 10px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
	position: fixed;
	background-color: #202020;
	z-index: 9999;
}

/* menu -> sol */

.menu-left {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}
.menu-left i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
	padding: 0 10px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 2px;
}

.menu-left i:hover {
    background-color: #383838;
}

.menu-left div {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 5px;
	cursor: pointer;
}

.menu-left img {
    height: 40px;
}

.menu-left span {
	margin: 0 0 4px 0;
    font-size: 25px;
    font-weight: 600;
}

/* menu -> orta */

.menu-center {
    display: flex;
    flex-direction: row;
    column-gap: 0;
    align-items: center;
}

.menu-center > form {
	display: inherit;
	flex-direction: row;
	column-gap: 0;
}

.menu-center input {
    height: 40px;
    width: 400px;
    font-size: 16px;
    background-color: #121212;
    border: 1px solid #303030;
    outline: none;
    color: whitesmoke;
    text-indent: 4px;
    border-radius: 2px 0 0 2px;
}

.menu-center button {
    width: 64px;
	border-radius: 0;
	border: none;
	background-color: #323232;
	cursor: pointer;
}

.menu-center i {
	color: white;
	font-size: 20px;
	font-weight: 600;
}

/* menu -> sağ */

.menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-right a {
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding-right: 5px;
}

.mark-up {
	color: red;
}
/* açılır kapanır menü */

.dropdown-menu-content {
    background-color: #212121;
    width: 240px;
	height: 100%;
	top: 60px;
    left: 0;
	position: fixed;
	z-index: 999;
    overflow: scroll;
}

.dropdown-menu-content ul {
    list-style-type: none;
}

.dropdown-menu-content a {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.dropdown-menu-content a:hover {
    background-color: #383838;
}

.menu-link-item i{
	width: 25px;
	margin-right: 10px;
}

.menu-link-item.active {
	background-color: #383838;
}

.menu-link-item.active:hover {
	background-color: #4c4c4c;
}

.main-content {
	padding:20px 20px 70px 20px;
	background-color: #181818;
	display: grid;
    column-gap: 20px;
    row-gap: 70px;
    grid-template-columns: calc((100% - 60px) / 4) calc((100% - 60px) / 4) calc((100% - 60px) / 4) calc((100% - 60px) / 4);
	position: relative;
	left: 240px;
	top: 60px;
	width: calc(100% - 240px);
}

.image-content {
	cursor: pointer;
}

.image-content h2 {
	color: whitesmoke;
	font-weight: normal;
}

.image {
	width: 100%;
}

.toast {
	display: none;
	justify-content:center;
	align-items: center;
	width: 300px;
	height: 100px;
	padding: 5px;
	position: absolute;
	right: 1%;
	top: 1%;
	background-color: #ff000099;
	border-radius: 6px;
	z-index: 9999;
}

.toast-message {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}

.close-btn {
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 20px;
	transform: translate(-50%, -50%);
	margin-left: 5px;
	font-size: 18px;
}

.scroll-top {
    display:none;
    background-color: #ccc;
	color: black;
	border-radius: 4px;
    padding:10px;
    position:fixed;
    bottom:10px;
    right:10px;
}

@media (max-width: 980px) {
    .main-content {
        padding: 10px 10px 40px 10px;
        grid-template-columns: calc((100% - 40px) / 3) calc((100% - 40px) / 3) calc((100% - 40px) / 3);
        row-gap: 40px;
    }

    .menu-center input {
        width: 300px;
    }

    .dropdown-menu-content * ,
    .dropdown-menu-content a {
        font-size: 17px;
    }

    .image-content h2 {
        font-size: 15px;
    }
}
